@import "tailwindcss";

@layer utilities {
    .bg-gradient-main {
        background: linear-gradient(to right, #2B3C8F, #02A9EB);
    }

    .hover\:bg-gradient-main:hover {
        background: linear-gradient(to right, #2B3C8F, #02A9EB);
    }

    /* Backgrounds for job status */
    
    .bg-blue {
        background: linear-gradient(to right, #049ef7, #8accf3);
    }
    .bg-yellow {
        background: linear-gradient(to right, #f5c504, #f5df8a);
    }
    .bg-purple {
        background: linear-gradient(to right, #b204f7, #d88cf7);
    }
    .bg-green {
        background: linear-gradient(to right, #0df704, #b5f58b);
    }
    .bg-red {
        background: linear-gradient(to right, #f70404, #f78c8c);
    }
    .bg-gray {
        background: linear-gradient(to right, #636161, #c4c1c1);
    }
    .b {
        background: linear-gradient(to right, #8f2b2b, #ebe702);
    }
}