@import "tailwindcss";

@layer utilities {
    .bg-gradient-main {
        background-image: linear-gradient(to right, #2B3C8F, #02A9EB);
    }

    .hover\:bg-gradient-main:hover {
        background-image: linear-gradient(to right, #2B3C8F, #02A9EB);
    }

    /* Backgrounds for job status */
    
    .bg-blue {
        background-image: linear-gradient(to right, #2b8f8a, #02ebeb);
    }
    .bg-green {
        background-image: linear-gradient(to right, #2e8f2b, #5feb02);
    }
    .bg-red {
        background-image: linear-gradient(to right, #8f2b2b, #eb0202);
    }
}